<div id="register" class="grow flex flex-col justify-center p-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <h2 class="text-center text-2xl/9 font-bold tracking-tight">Create your account</h2>
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        <form hx-post="/account/create"
              hx-swap="outerHTML"
              hx-target="#register"
              class="space-y-6">
            <div class="w-full">
                <label for="username" class="block text-sm/6 font-medium">Username</label>
                <div class="mt-2">
                    <input value="{{username}}"
                           type="text"
                           name="username"
                           id="username"
                           autocomplete="name"
                           required
                           class="input input-bordered
                            {{#if usernameValid}}
                            input-error
                            {{/if}}
                           w-full" />
                    {{#if usernameValid}}
                    <p class="mt-2 text-red-400">{{usernameValid}}</p>
                    {{/if}}
                </div>
            </div>

            <div class="w-full">
                <label for="email" class="block text-sm/6 font-medium">Email address</label>
                <div class="mt-2">
                    <input value="{{email}}"
                           type="email"
                           name="email"
                           id="email"
                           autocomplete="email"
                           required
                           class="input input-bordered
                            {{#if emailValid}}
                            input-error
                            {{/if}}
                           w-full" />

                    {{#if emailValid}}
                    <p class="mt-2 text-red-400">{{emailValid}}</p>
                    {{/if}}
                </div>
            </div>

            <div class="w-full">
                <label for="password" class="block text-sm/6 font-medium">Password</label>
                <div class="mt-2">
                    <input value="{{password}}"
                           type="password"
                           id="password"
                           name="password"
                           autocomplete="new-password"
                           required
                           class="input input-bordered
                            {{#if passwordValid}}
                            input-error
                            {{/if}}
                           w-full" />

                    {{#if passwordValid}}
                    <p class="mt-2 text-red-400">{{passwordValid}}</p>
                    {{/if}}
                </div>
            </div>


            <div class="w-full">
                <label for="repeat-password" class="block text-sm/6 font-medium">Confirm Password</label>
                <div class="mt-2">
                    <input value="{{repeatPassword}}"
                           type="password"
                           id="repeat-password"
                           name="repeatPassword"
                           autocomplete="new-password"
                           required
                           class="input input-bordered
                            {{#if repeatPasswordValid}}
                            input-error
                            {{/if}}
                           w-full" />

                    {{#if repeatPasswordValid}}
                    <p class="mt-2 text-red-400">{{repeatPasswordValid}}</p>
                    {{/if}}
                </div>
            </div>

            <div>
                <button type="submit" class="w-full btn btn-primary">Create account</button>
            </div>
        </form>

        <p class="mt-10 text-center text-sm/6">
            Already have an account?
            <a href="/account/login" class="font-semibold text-primary">Sign in</a>
        </p>
    </div>
</div>

<script src="/js/LoadingScreen.js"></script>